<form (ngSubmit)="addMessage()" class="">
<div class="py-4 flex flex-col items-center min-h-screen w-screen">
  <h2 class="text-sky-100 text-5xl py-10">Atendimento Online</h2>
  <div class="w-2/4">
    <div id="chatbox" class="flex flex-col rounded overflow-hidden shadow-lg max-w-full bg-slate-900 border border-gray-700">
      <main id="chat-messages" class="overflow-y-auto flex flex-col p-4 h-96">
        <div class="mb-3.5 flex flex-col items-start self-start">
          <div class="mb-0.5 text-sm font-bold text-sky-100"><strong>Atendente:</strong></div>
          <div class="bg-blue-400 break-all px-2 py-1 rounded">Salve pai supimpa?</div>
        </div>
        <div *ngFor="let item of MessagesService.items$ | async" class="mb-3.5 flex flex-col items-end self-end">
          <div class="mb-0.5 text-sm font-bold text-sky-100"><strong>Você:</strong></div>
          <div class="bg-blue-400 break-all px-2 py-1 rounded">{{ item.name }}</div>
        </div>  
      </main>
    </div>   
    <!-- Input de mensagem -->
     <div class="flex flex-row w-full">
      <input 
        [(ngModel)]="newMessageText"
        id = "newMessageText"
        name = "newMessageText"
        type="text"
        placeholder="Digite sua mensagem aqui..."
        class="flex-1 border border-gray-700 bg-indigo-200 px-3 py-2 m-0.5 placeholder:italic rounded shadow-lg shadow-indigo-500/30"  
        />
        <div class="w-2/12">
          <button class="bg-indigo-600 text-white px-3 py-2 m-0.5 rounded hover:bg-indigo-950 shadow-lg shadow-indigo-500/30" type="submit" id="send-button">Enviar</button>
          <button class="bg-indigo-600 text-white px-3 py-2 rounded hover:bg-indigo-950 shadow-lg shadow-indigo-500/30" type="button" id="receive-button">Receber</button>
        </div>
      </div>
        <!-- <div *ngIf="newMessageText" class="mt-1 text-red-500">{{ newMessageText }}</div> -->
        <!-- <div *ngIf="errorMessage" class="mt-1 text-red-500">{{ errorMessage }}</div> menssagem so pra testar -->
  </div>
</div>
</form>